<div fxFlex="10" class="one">
    <form [formGroup]="loginForm" #f="ngForm" (ngSubmit)="onLogin()" class="example-form">
        <h3>Proxy UPR</h3>
        <mat-form-field class="example-full-width">
            <input matInput required type="text" placeholder="Usuario" formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput required [type]="hide ? 'password' : 'text'" placeholder="Contraseña" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <div class="example-full-width">
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" aria-label="login">
                <mat-icon>lock</mat-icon>Entrar
            </button>
        </div>    
    </form>
</div>
<br>
<br>
<div fxFlex="100" class="one">
    <div class="loading">
        <div [hidden]="!loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</div>