<div class="loading">
  <mat-progress-bar *ngIf="loading" class="loading" color="warn"></mat-progress-bar>
</div>
<br />

<div class="grid-container">
  <div class="container" *ngIf="(isLoggedIn$ | async)" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start">
    <div class="item mat-elevation-z8" fxFlex="90%" fxFlex.xs="100%" fxFlex.md="100%">

        <mat-toolbar class="card-toolbar" color="primary">
            <mat-toolbar-row>
              Información de Consumo
            </mat-toolbar-row>
          </mat-toolbar>

        <mat-card class="dashboard-card">
          <mat-card-content class="dashboard-card-content">

            <br />

            <div class="container">

              <mat-grid-list class="item-2" *ngIf="data" cols="2" rowHeight="60">

                <mat-grid-tile><h2 class="mat-h2">Kuota:</h2></mat-grid-tile>
                <mat-grid-tile><h3 class="mat-h3"> {{data.quota}}</h3></mat-grid-tile>
                <mat-grid-tile><h2 class="mat-h2">Consumo:</h2></mat-grid-tile>
                <mat-grid-tile><h3 class="mat-h3"> {{data.consumption}}</h3></mat-grid-tile>

              </mat-grid-list>

              <mat-progress-spinner *ngIf="data"
                class="item-1"
                [color]="color"
                [mode]="mode"
                [value]="value"
                [diameter]="230"
                [strokeWidth]="120" >
              </mat-progress-spinner>

            </div>

            <br />

          </mat-card-content>
        </mat-card>
    </div>

    <br />

  <br/>

</div>
