<div fxFlex="50" class="zero">
    <app-user-info [user]="user"></app-user-info>
</div>

<div fxFlex="50" class="one">
    <h3>Quota {{quota | number : "1.1-2"}} (Mb)</h3>
    <h4>Consumo {{consumption | number : "1.1-2"}} (Mb)</h4>
</div>

<div fxFlex="50" class="two">
    <mat-progress-spinner [value]="value" [diameter]="150" [strokeWidth]="150" [color]="color"></mat-progress-spinner>    
</div>

<div fxFlex="50" class="third">
    <button mat-raised-button color="primary" (click)="logged()" aria-label="logged"><mat-icon>lock_open</mat-icon>Salir</button>    
    <button *ngIf="user.isAdmin" mat-button (click)="openDialog()"><mat-icon>settings</mat-icon>Modificar Quota</button>
</div>
